<div class="well" style="padding: 0;">
	<div>
		<div class="row" style="background-color: #f5f5f5;margin: 0;padding: 15px;">
			<div class="col-lg-2" style="padding: 0;">
				<img class="company_logo" src="/images/google.png"/>
			</div>
			<div class="col-lg-10 company_name">
				<h4>Google Inc.</h4>
				<h6>Posted 5 days ago</h6>
			</div>
		</div>
		<div class="row" style="padding-top: 15px;">
			<div class="col-lg-12">
				<p class="task_title">
					Build a search console
				</p>
				<p class="task_desc">
					Build a search console for website owners to change<br/>
					web crawler configurations for their websites.<br/>
					<button style="margin: 15px;" class="btn btn-success">Learn More</button>
					<%= social_share_button_tag('', :url => '') %>
				</p>
			</div>
		</div>
	</div>
</div>