<style type="text/css">
.home-banner{
    position: relative;
    top: -10px;
}
.flex-content{
	    position: absolute;
    z-index: 10000;
    height: 350px;
    padding: 50px;
    text-align: center;
    width: 100%;
    color: #f3f3f3;
    background-color: rgba(0, 0, 0, 0.5);
}
.tips>h4{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.6);
}
.company_logo{
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.company_name > h4{
    text-align: left;
    font-weight: 600;
    margin-bottom: 2px;
    color: #666;
}
.task_title{
	font-size: 16px;
    font-weight: 600;
}
.task_desc{
	font-size: 12px;
    word-spacing: 2px;
}
.company_name > h6{
    text-align: left;
    margin: 0;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}
span.sub_content {
    font-size: 14px;
    word-spacing: 3px;
}
.flex-viewport {
    max-height: 350px;
}
.your-goals >h2 {
    color: #f3f3f3;
    font-size: 3.5em;
    font-weight: 600;
    font-family: roboto;
    letter-spacing: 1px;
}
.your-goals >h2>span{
	color: #00acac;
}
.sub_h1{
    display: block;
    text-align: center;
    font-size: 14px;
    margin: 12px;
    font-weight: 100;
    letter-spacing: 1px;
}
.flex-control-nav, .flex-direction-nav{
	display: none;
}
.banner-tagline>h3{
	    font-size: 18px;
    font-weight: 300;
    padding: 10px 0px 30px 0;
    color: #F5F5F5;
    line-height: 1.8;
}

</style>

<div class="container-fluid" style="padding: 0;">
	<div class="row first_row">
		<div class="col-lg-12" style="padding: 0;">
		  <div class="flexslider home-banner">
		  <div class="flex-content">
					    <div class="your-goals"><h2><span>DEVELOP</span> NEW IDEAS AND GET PAID</h2></div>
					    <div class="banner-tagline"><h3>RepHike is a platform for technologists and innovators <br/> to solve challenges faced by companies from anywhere around the world.</h3></div>
					    
					    <a href="#" class="btn btn-lg btn-success bucketgreen">Learn More</a>
					    
		  </div>
			<ul class="slides">
			    <li>
			      <img src="/slides/slide1.jpg" />
			    </li>
			    <li>
			      <img src="/slides/slide2.jpg" />
			    </li>
			    <li>
			      <img src="/slides/slide3.jpg" />
			    </li>
			    <li>
			      <img src="/slides/slide4.jpg" />
			    </li>
			  </ul>
		  </div>
		</div>
	</div>
	<div class="row info_row" style="padding-top: 0;">
		<div class="info_row_2">
			<h1 style="font-weight: 600;color: rgba(0, 0, 0, 0.66);">INNOVATION DOESN'T HAVE BOUNDARIES</h1>
			<span class ='sub_h1'>We know companies like to innovate by involving the maximum number of creative minds.</span>	
		    <div class="col-sm-6 tips">
		      <img class="tips-image" src="/images/icon1.png" alt="How It Works Get Inspired"/>
		      <h4>TIME</h4>
		      <span class ='sub_content'>Innovating a tech product, a packaging method, a new marketing startegy or brand research is time intensive.</span>
		    </div>
		    <div class="col-sm-6 tips pull-left">
		      <img class="tips-image" src="/images/icon2.png" alt="How It Works See Others"/>
		      <h4>MONEY</h4>
		      <span class ='sub_content'>Innovation &amp; Research takes up a lot of funds which restricts early stage companies at many levels.</span>
		    </div>
		</div>
		<div class="info_row_2">
		    <div class="col-sm-6 tips">
		      <img class="tips-image" src="/images/icon1.png" alt="How It Works Get Inspired"/>
		      <h4>CREATIVITY</h4>
		      <span class ='sub_content'>Companies are restricted to their internal employees for creative solutions since they might want to keep the project private.</span>
		    </div>
		    <div class="col-sm-6 tips pull-left">
		      <img class="tips-image" src="/images/icon2.png" alt="How It Works See Others"/>
		      <h4>GLOBAL COMMUNITY</h4>
		      <span class ='sub_content'>Even with brand recognition, it’s challenging to reach out to the best minds globally to solve your challenge.</span>
		    </div>
		</div>
	</div>
	<div class="row info_row">
		<div class="info_row_2">
	  	<h1 style="font-weight: 600;color: rgba(0, 0, 0, 0.66);">HOW YOU CAN ADVANCE INNOVATION &amp; RESEARCH</h1>
		    <div class="col-sm-4 tips">
		      <img class="tips-image" src="/images/icon1.png" alt="How It Works Get Inspired"/>
		      <h4>1. CHALLENGES</h4>
		      <span class ='sub_content'>You register for a challenge hosted by companies. The challenges could range from design, market research to building tangible or intangible products.</span>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <img class="tips-image" src="/images/icon2.png" alt="How It Works See Others"/>
		      <h4>2. TASK ASSIGNMENT</h4>
		      <span class ='sub_content'>Check out projects hosted by different companies. Select your favorite projects and submit solution before the deadline.</span>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <img class="tips-image" src="/images/icon3.png" alt="How It Works Set Goals"/>
		      <h4>3. JUDGING</h4>
		      <span class ='sub_content'>Companies will review your submissions and assign stars based on different judging criteria.</span>
		    </div>
	    </div>
	    <div class="container-fluid">
	    <div class="info_row_2">
		    <div class="col-sm-4 tips">
		      <img class="tips-image" src="/images/icon1.png" alt="How It Works Get Inspired"/>
		      <h4>4. LEADERBOARD ANNOUNCEMENT</h4>
		      <span class ='sub_content'>The leaderboard is generated and all participants are notified regarding the status of their solution.</span>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <img class="tips-image" src="/images/icon2.png" alt="How It Works See Others"/>
		      <h4>5. PAY OUT</h4>
		      <span class ='sub_content'>Redeem stars from participating in contest for cash and prizes. The payout is credited to your PayPal (US) or Paytm Wallet (India).</span>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <img class="tips-image" src="/images/icon3.png" alt="How It Works Set Goals"/>
		      <h4>6. JOBS &amp; INTERNSHIPS</h4>
		      <span class ='sub_content'>We connect you to companies for placement and internship oppurtunities based on your solutions and scores!</span>
		    </div>
	    </div>
	    </div>
    </div>
    <div class="row info_row">
		<div class="info_row_2">
	  	<h1 style="font-weight: 600;color: rgba(0, 0, 0, 0.66);">GET NEW CHALLENGES EVERY DAY</h1>
		    <div class="col-sm-4 tips">
		      <%= render 'card' %>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <%= render 'card' %>
		    </div>
		    <div class="col-sm-4 tips pull-left">
		      <%= render 'card' %>
		    </div>
	    </div>
    </div>

	</div>
</div>