<footer> 
		<div class="container" id="nav-footer">
			<div class="row text-left">
				<div class="col-md-4 col-sm-4">
					<h4>Team Members</h4>
					<ul>						<li>Tilak Patidar</li>	
												<li>Ayush Aggarwal</li>								
												<li>Rishav Medhi</li>	
												<li>Abhishek Dua</li>
					</ul>
				</div>
				<!-- End col-md-4 -->
				<div class="col-md-4 col-sm-4">
					<h4>Email Addresses</h4>

					<ul>
						<li><a href="mailto:tilakpatidar@gmail.com">tilakpatidar@gmail.com</a></li>
						<li><a href="mailto:ayush.agarwal7689@gmail.com">ayush.agarwal7689@gmail.com</a>
						</li>
						<li><a href="mailto:rishav164@gmail.com">rishav164@gmail.com</a>
						</li>
						<li><a href="mailto:intrepid.sunny@gmail.com">intrepid.sunny@gmail.com</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 col-sm-4">
					<h4>We are social</h4>
					<ul id="follow_us">
						<li><a  href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://plus.google.com"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
						</li>
						<li><a href="http://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
						</li>
						<li><a href="https://www.youtube.com/"><i class="fa fa-youtube" aria-hidden="true"></i></a>
						</li>

					</ul>

				</div>
				<!-- End col-md-4 -->
			</div>
			<!-- End row -->
		</div>
		<div id="copy_right">Rephike App &copy; 2016-2017</div>
	</footer>			